
@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

#root > div {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'AstroSpace';
  src: local('AstroSpace'), url(../fonts/a-astro-space-font/AstroSpace-eZ2Bg.ttf) format('truetype');
}

@font-face {
  font-family: 'Wilma';
  src: local('Wilma'), url(../fonts/wilma-mankiller-modern-font/WilmaMankillerModern-J4Ej.ttf) format('truetype');
}


@font-face {
  font-family: 'Andromeda';
  src: local('Andromeda'), url(../fonts/andromeda-font/Andromeda-eR2n.ttf) format('truetype');
}